// Custom global colors

// Default global colors
$colorBtn: #2c715b;
$bgSection: #81e4ed;
$bgBody: #fff;
$bgHeader: #e8ebf1;
$colorText: #000;
$colorSomeText: #363636;
$colorLink: #2aacc8;
$colorBord: #e7e7e7;

// Widths
$minWidth: 320px;
$maxWidth: 1000px;

// Breakpoints

$tablet: 950;
$mobile: 640;

// Fonts
$family: 'acrom', Arial, Helvetica, sans-serif;
$_21px: 1.3125em;

//Images
$fonturl : '/dependencies/fonts';
$imgurl : '/dependencies/images';